[submodule "syntastic"]
	path = vim/Linux/.vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim-airline"]
	path = vim/Linux/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
